// fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand|Pacifico');
// color
$primary: #04a9f4;
$secondary: #fff;
$border-primary: #ddd;
$bg-primary: $primary;
$bg-secondary: $secondary;

// font

// padding & margin

// button

// 